---
pageable: true
per_page: 12
---

h1 Articles tagged '#{tagname}'

= partial 'blog/pagination_top'

ul.list-group
  - page_articles.each_with_index do |article, i|
    li.list-group-item #{link_to article.title, article} <span>#{ article.date.strftime('%b %e')}</span>

= partial 'blog/pagination_bottom'
